{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1>Categorias</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Ruta</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.path }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('categoria_edit', {'id': category.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categoria_new') }}">Nueva</a>
{% endblock %}
